* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4203a9, #90bafc);
    color: #FFF;
    padding: 10px;
}
.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}
.calculator h1 {
    font-size: 60px;
    color: #FFFF76;
}
.input-box {
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}
.input-box input {
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}
.input-box button {
    background: #FFFF76;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}
.input-box input::-webkit-calendar-picker-indicator {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}
#result {
    font-size: 20px;
}
#result span {
    color: #FFFF76;
}

@media (max-width:700px) {
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .calculator {
        margin-left: 0;
    }
    .container h1 {
        text-align: center;
    }
    .calculator p {
        text-align: center;
    }
}
.portfolio {
    position: fixed;
    left: -35px;
    bottom: 120px;
    transform: rotate(90deg);
    padding: 0;
    margin: 0;
}
.portfolio a {
    font-size: medium;
    background-color: #FFD9AB;
    padding: 10px 5px 50px 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #4e342e;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s;
}
.portfolio a:hover {
    background-color: #4e342e;
    color: #FFD9AB;
}